.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .buttons ion-grid {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .buttons ion-button {
    width: 100%;
  }
  