<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Yuverly Verdezoto Curriculum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar>
    <img src="assets/av.png" />
  </ion-avatar>
  
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Profile Photo">
      </ion-avatar>
      <ion-label>
        <h2>Yuverly Alexander Verdezoto Lojan</h2>
        <p>Desarrollador Full Stack y Artista</p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <p>Soy desarrollador Full Stack con experiencia en MongoDB, JavaScript, Node.js, React, Java y Python. Además, soy artista a tiempo parcial, lo que me permite combinar creatividad y tecnología en mis proyectos.</p>
    </ion-card-content>    
  </ion-card>

  <h2>Experiencia Profesional</h2>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Desarrollador Full Stack</ion-card-title>
      <ion-card-subtitle>Team Khaos - 2021 - Actualidad</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Desarrollé un juego ganador de un concurso de la Escuela Politécnica Nacional del Ecuador llamado Card-Wars.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Artista en DeviantArt y Twitter</ion-card-title>
      <ion-card-subtitle>Yuverly- Hidokun - 2019 - Actualidad</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Dibujante cartoon con experiencia en videojuegos y anime.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sistema de Pacientes HAKIM</ion-card-title>
      <ion-card-subtitle>Veterinaria HAKIM - 2024 a 2025</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Desarrollé un programa que gestiona la información de los pacientes, como historiales médicos y tratamientos, dentro de la Veterinaria.
    </ion-card-content>
  </ion-card>

  <h2>Habilidades Técnicas</h2>

  <ion-list>
    <ion-item>
      <ion-icon aria-hidden="true" name="code-slash" slot="start"></ion-icon>
      <ion-label>Desarrollador Full Stack</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-nodejs" slot="start"></ion-icon>
      <ion-label>Node.js</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-react" slot="start"></ion-icon>
      <ion-label>React</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="server" slot="start"></ion-icon>
      <ion-label>MongoDB</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="logo-python" slot="start"></ion-icon>
      <ion-label>Python</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="brush" slot="start"></ion-icon>
      <ion-label>Artista a tiempo parcial</ion-label>
    </ion-item>
  </ion-list>

  <h2>Nivel de Conocimiento</h2>

  <ion-item>
    <ion-label>C++</ion-label>
    <ion-progress-bar value="0.85" color="primary"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>C#</ion-label>
    <ion-progress-bar value="0.75" color="secondary"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>Lua</ion-label>
    <ion-progress-bar value="0.65" color="tertiary"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>Java</ion-label>
    <ion-progress-bar value="0.80" color="success"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>JavaScript</ion-label>
    <ion-progress-bar value="0.90" color="warning"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>TypeScript</ion-label>
    <ion-progress-bar value="0.70" color="danger"></ion-progress-bar>
  </ion-item>
  
  <ion-item>
    <ion-label>Python</ion-label>
    <ion-progress-bar value="0.95" color="dark"></ion-progress-bar>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Arte Destacado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-sm="4">
            <img src="assets/d1.jpg" style="width: 100%; border-radius: 8px;" />
            <p>Arte de halloween 2023</p>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <img src="assets/d2.png" style="width: 100%; border-radius: 8px;" />
            <p>Remake de un dibujo de 2020</p>
          </ion-col>
          <ion-col size="6" size-sm="4">
            <img src="assets/d3.png" style="width: 100%; border-radius: 8px;" />
            <p>Comision de Lady Marin</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-sm="4">
            <img src="assets/d4.png" style="width: 100%; border-radius: 8px;" />
            <p>Promocion de Canal de youtube</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  

  <ion-button id="present-alert">Descarga mi currículum completo</ion-button>

  <ion-alert
    trigger="present-alert"
    header="Descargar Currículum"
    subHeader="Confirmar descarga"
    message="¿Deseas descargar una copia de mi currículum en formato PDF?"
    [buttons]="alertButtons"
  ></ion-alert>

  <ion-footer>
    <ion-toolbar color="dark">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <!-- Sección de Redes Sociales -->
          <ion-col size="6">
            <ion-title>Conéctate conmigo</ion-title>
            <ion-icon name="logo-twitter" size="large"></ion-icon>
            <ion-icon name="logo-github" size="large"></ion-icon>
            <ion-icon name="logo-youtube" size="large"></ion-icon>
          </ion-col>
  
          <!-- Sección de Contacto -->
          <ion-col size="6" class="ion-text-right">
            <ion-title>Contáctame</ion-title>
            <p>Correo: pochitoyuverly&#64;gmail.com</p>
            <p>Teléfono: +593 96 118 9229</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  
    <ion-toolbar color="medium">
      <ion-title class="ion-text-center">© 2024 Yuverly Verdezoto - Todos los derechos reservados</ion-title>
    </ion-toolbar>
  </ion-footer>
  
</ion-content>
